body {

margin: 1px;
padding: 1px;
background: url('../img/background.png') repeat;
font-family:monospace;

}

.logo {
  position: absolute;
  top: 20%;
  left: 40%;
  margin-left: auto;
    margin-right: auto;
  background: url('../img/logo.jpg') no-repeat;
  width: 200px;
  height: 77px;

}

.logo {
  -webkit-animation-name: 'down';
  -webkit-animation-duration: 2.5s;
}

@-webkit-keyframes 'down' {
  from {
    -webkit-transform: rotateY(90deg);
  }

  40% {
    -webkit-transform: rotateY(90deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
  }
}

.me {
  position: absolute;
  top: 40%;
  left: 30%;
  text-shadow: 0 1px 0 white;
  color: #243B43;

}

h1 {
position: relative;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 100px;

}
p {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  margin-left: 100px;

}
.social1{
  position: absolute;
  /*top:490px;
  left:560px;*/
  top: 60%;
  left: 42.5%;
 text-align: center;
 
}
.bar{
  position: absolute;
  top:420px;
  left:545px;
}

.caption{
display: none;
color:red;    
position: absolute;
}
a:hover .caption { 
  display: block; 
  text-align: justify;
  position: absolute;
  top: -30px;
  right: 0;
  margin-right: -30px;
  font-family:courier;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 11px;
}

.social{
  position: absolute;
  /*top:590px;
  left:485px;*/
  top: 85%;
  left: 39%;
  text-align: center;
}



#footer{
  font-size: 10px;
  color: #d6d3d3;
text-align: center;
position: absolute;
top: 96%;
  left: 44%;
}







